<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login.Properties.Settings.booksdbConnectionString"
            connectionString="Data Source=DESKTOP-SKI34QJ\SQLEXPRESS;Initial Catalog=booksdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Login.Properties.Settings.libsysdbConnectionString"
            connectionString="Data Source=DESKTOP-SKI34QJ\SQLEXPRESS;Initial Catalog=libsysdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>